{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Alerts{% endblock %}

{% block breadcrumbs %}
  {{ bootstrap_breadcrumbs(
    bootstrap_breadcrumb(bootstrap_icon('exclamation-triangle') ~ ' Alerts', 'alert_index'),
  ) }}
{% endblock %}

{% set can_create_alert = is_granted(attributes.create, new_alert) %}

{% set create_alert_href = path('alert_create') %}

{% block actions %}
  {% if can_create_alert %}
    <a href="{{ create_alert_href }}" class="btn btn-primary">
      {{ bootstrap_icon('plus-lg') }}
      Add Alert
    </a>
  {% endif %}
{% endblock %}

{% block main %}
  {% set alert_count = alerts|length %}

  <div class="card">
    <div class="card-body">
      <div class="card-title card-title-with-count">
        <h1 class="card-title-heading">Alerts</h1>
        <div class="card-title-count">
          {{ bootstrap_badge_primary(alert_count) }}
        </div>
      </div>

      {% if alert_count %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Starts</th>
              <th>Ends</th>
              <th>Last Updated</th>
              <th aria-label="Row Actions"></th>
            </tr>
          </thead>
          <tbody>
            {% for alert in alerts %}
              {{ _self.table_row(alert, attributes, active_alert) }}
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="100%">The {{ bootstrap_badge_primary('Active') }} alert is a {{ bootstrap_badge_success('Published') }} alert with the most-recent start date.</td>
            </tr>
          </tfoot>
        </table>
      {% else %}
        <p>
          No alerts found.
          {% if can_create_alert %}
          <a href="{{ create_alert_href }}">Click here to add an alert.</a>
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% macro table_row(alert, attributes, active_alert) %}
  {% set row_actions = [] %}

  {% if is_granted(attributes.edit, alert) %}
    {% set row_actions = row_actions|merge([{
      route: 'alert_edit',
      route_params: {id: alert.id},
      color: 'secondary',
      icon: 'pencil',
      text: 'Edit Alert',
    }]) %}
  {% endif %}

  {% if is_granted(attributes.delete, alert) %}
    {% set row_actions = row_actions|merge([{
      route: 'alert_delete',
      route_params: {id: alert.id},
      color: 'danger',
      icon: 'trash',
      text: 'Delete Alert',
      confirm: 'Are you sure you want to delete this alert? Clicking OK will take you to a verification step to delete this entry.',
    }]) %}
  {% endif %}

  <tr>
    <td>{{ alert }}</td>
    <td>
      {% if active_alert == alert %}
        {{ bootstrap_badge_primary('Active') }}
      {% endif %}

      {% if alert.isDraft %}
        {{ bootstrap_badge_secondary('Draft') }}
      {% elseif alert.isScheduled %}
        {{ bootstrap_badge_warning('Scheduled') }}
      {% elseif alert.isPublished %}
        {{ bootstrap_badge_success('Published') }}
      {% elseif alert.isExpired %}
        {{ bootstrap_badge_danger('Expired') }}
      {% endif %}
    </td>
    <td>{{ alert.startsAt ? alert.startsAt|datetime : '' }}</td>
    <td>{{ alert.endsAt ? alert.endsAt|datetime : '' }}</td>
    <td>{{ alert.updatedAt|datetime }}</td>
    <td>
      {% include '@OHMediaBackend/widget/row_actions.html.twig' with {
        row_actions: row_actions,
      } only %}
    </td>
  </tr>
{% endmacro %}
